<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Get 'n' Post</title>
    </head>
    <body>
    <form action="/request-counter" method="get">
        <button name="get_button" type="submit" id="submit_id" align="right">GET</button>
    </form>    
    <br>
    <form action="/request-counter" method="post">
    <button name="post_button"type="submit" id="submit_id" align="right">POST</button>
    </form> 
    <br>
    <a href="/statistics">Statistics</a>




    </body>
</html>